* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.dbody {
    display: flex;
    height: 100vh;
    overflow: hidden;
}

.dcontainer {
    display: flex;
    width: 100%;
    height: 100%;
}

.dsidebar {
    background-color: #b47654;
    width: 20%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    position: absolute;
    left: -250px;
    top: 0;
    height: 100%;
    transition: left 0.3s ease;
    z-index: 1000;
}

.dsidebar.active{
    left: 0;
}


.sidedashbtn, .sideactbtn {
    background-color: #f3e3cc;
    border: none;
    padding: 15px 20px;
    margin: 10px 0;
    width: 80%;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;
}

.dcontent {
    background-color: #fefae4;
    width: 80%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; 
    height: 100%;
    overflow-y: auto;
    position: relative;
    left: 0;
    transition: left 0.3s ease;
    width: 100%;
}

.dcontent.with-sidebar{
    left: 250px;
}

.dheader {
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 100%;
}

.dtitle{
    background-color: #b47654;
    color: white;
    padding: 10px 30px;
    border-radius: 20px;
    margin-bottom: 30px;
    font-size: 36px;
    text-align: center;
    max-width: 100%;
}

.hamburger{
    display: none;
    font-size: 30px;
    cursor: pointer;
}

.teamintro h2 {
    font-size: 24px;
    color: #b47654;
    margin-bottom: 10px;
    text-align: center;
}

.teamintro h1 {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 30px;
    text-align: center;
}

.team {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
}

.member {
    text-align: center;
    max-width: 150px;
    width: 100%;
}

.member img {
    width: 100%;
    max-width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 15px;
}

.member h3 {
    font-size: 18px;
    margin-bottom: 5px;
}

.member p {
    font-size: 16px;
    color: gray;
}

@media (min-width: 768px) {
    .hamburger{
        display: block;
    }

    .dcontent{
        left: 0;
    }

    .dsidebar{
        position: fixed;
    }

    .dcontent.with-sidebar{
        left: 250px;
    }
}